<html>
<body>
<style>
body {
	  background-color: lightblue;
}
</style>
<h1>dns name</h1>
<p>server_name</p>
<h1>private ip</h1>
<p>ansible_default_ipv4.address</p>
</body>
</html><html>
<body>

	<h1>welcome to nginx from {{my_name}} :')</h1>
</body>
</html>
